In [75]:
from urllib.request import urlretrieve
import os
import pandas as pd

paperName = "CT"

# 為了顯示的漂亮, 我刻意的把印出來的 row 只顯示 15 個和 column 只顯示十個
# 大家練習的時候可以去掉下面兩行
pd.set_option('display.max_rows', 15)
pd.set_option('display.max_columns', 10)

data_df = pd.DataFrame(columns = ["content", "sentiment"])

with open("data/study/eb_" + paperName + "_jeiba.txt","r",encoding="utf-8") as fc:
    content = fc.read()
contentList = content.split("\n")


with open("data/study/content_views.txt","r",encoding="utf-8") as fv:
    views = fv.read()
viewsList = views.split("\n")

try:
    for line in range(len(viewsList)-1):
        s = pd.Series([contentList[line], viewsList[line]], index = ["content", "sentiment"])
    # s = pd.Series([contentList[:len(contentList)-1], viewsList[:len(viewsList)-1]], index = ["content", "sentiment"])
        data_df = data_df.append(s, ignore_index = True)
except Exception as e:
    print(s)
    
# # 走過 pos 的資料夾，把資料夾整理好
# pos_path = "data/aclImdb/train/pos"
# for fpath in os.listdir(pos_path):
#     if not fpath.startswith("."):
#         fpath = os.path.join(pos_path, fpath)
#         f = open(fpath, "r", encoding = "utf-8")
#         content = f.read()
#         s = pd.Series([content, 1], index = ["content", "sentiment"])
#         train_df = train_df.append(s, ignore_index = True)

# # 走過 neg 的資料夾，把資料夾整理好
# neg_path = "data/aclImdb/train/neg"
# for fpath in os.listdir(neg_path):
#     if not fpath.startswith("."):
#         fpath = os.path.join(neg_path, fpath)
#         f = open(fpath, "r", encoding = "utf-8")
#         content = f.read()
#         s = pd.Series([content, 0], index = ["content", "sentiment"])
#         train_df = train_df.append(s, ignore_index = True)
data_df

content
sentiment    1325
dtype: object

                                                content sentiment
0     科技 詮釋 另類 山水畫 ！ 由 洛杉磯 巿 華美 博物館 與 洛杉磯 台灣 書院 聯合 舉...    266947
1     有關 機師工會 今 （ 8 ） 日 上午 6 時 進行 罷工 ， 勞動部 上午 也 回應 ，...      5828
2     泰國 羅 勇府 閣 沙梅島 （ KOH SAM ET ） 7 日 一艘 載有 2 3名 陸客...      5562
3     關懷 偏鄉 獨居老人 ， 連鎖 咖啡業者 85度C 在 推出 滷肉飯 便當 和 肉燥麵 便當...      4405
4     春節期間 為 避免 停車 業者 隨意 調漲 費率 ， 台中市政府 交通局 於 春節 前 針對...      3843
5     初四 迎財神 ， 屏東市 都城隍廟 財神 殿 今年 加碼 準備 1 萬份 發財金 ， 8 日...      4108
6     台中市 文化局 今年 傳統藝術節 在 4 大 文化中心 熱鬧 登場 ， 共 邀請 40 組 ...     12744
...                                                 ...       ...
2750  新北 一間 24小時 大賣場 ， 今早 發生 男子 墜樓 身亡 。 今年 2月 至今 ， 該...      4949
2751  美國 B - 52 H 同溫層 堡壘 式 轟炸機 ( STRATOFORTRESS ) 最近...       527
2752  107 學年 HBL 高中 籃球 甲級聯賽 四強 總決賽 今天在 台北小巨蛋 進行 四場 激...     11631
2753  陪伴 高雄市民 走過 40 多個 年頭 、 陸橋 車流量 最高 的 大順陸橋 ， 3 ／ 1...       356
2754  隨著 科技進步 ， 民眾 看 手機 、 電腦 時間 增加 ， 眼睛 使用 過度 、 需要 多...      1060
2755  磐石 會 第 21 、 22 屆 會長 交接典禮 ， 16 日 在 台中市長 盧秀燕 的 監...     12584
2756                                                         1325

[2757 rows x 2 columns]

In [76]:
# a = list(data_df["sentiment"]).apply(int)
a = list(map(int, list(data_df["sentiment"])))
a.sort()
# print(a)
vsort = []
vsort.append(a[int(len(a)*0.1)]) 
vsort.append(a[int(len(a)*0.2)]) 
vsort.append(a[int(len(a)*0.3)]) 
vsort.append(a[int(len(a)*0.4)]) 
vsort.append(a[int(len(a)*0.5)]) 
vsort.append(a[int(len(a)*0.6)]) 
vsort.append(a[int(len(a)*0.7)]) 
vsort.append(a[int(len(a)*0.8)]) 
vsort.append(a[int(len(a)*0.9)])  
vsort

[1371, 2242, 3107, 4176, 5622, 7713, 11887, 19647, 44814]

In [77]:
# 這邊測試不同的y
import math
def trend_log(x):
    x = int(x)
    if x <= 1:
        return 0
#     elif x < 1:
#         return math.log10(-1*x) * -1
    else:
        return math.log10(x)

def change48VToClass2(num):
    if num <= 1000:
        return "1000"
    elif num <= 5000:
        return "5000"
    elif num <= 10000:
        return "10000"
    elif num <= 50000:
        return "50000"
    elif num <= 100000:
        return "100k"
    elif num <= 500000:
        return "500k"
    elif num <= 1000000:
        return "1m"
    else:
        return ">1m"
    
# y_train.apply(trend_log)
def change48VToClass3(num):
    if num <= vsort[0]:
        return "10%"
    elif num <= vsort[1]:
        return "20%"
    elif num <= vsort[2]:
        return "30%"
    elif num <= vsort[3]:
        return "40%"
    elif num <= vsort[4]:
        return "50%"
    elif num <= vsort[5]:
        return "60%"
    elif num <= vsort[6]:
        return "70%"
    elif num <= vsort[7]:
        return "80%"
    elif num <= vsort[8]:
        return "90%"
    else:
        return "100%"

    # y_train.apply(trend_log)
def change48VToClass4(num):
    if num <= vsort[0]:
        return 0
    elif num <= vsort[1]:
        return 1
    elif num <= vsort[2]:
        return 2
    elif num <= vsort[3]:
        return 3
    elif num <= vsort[4]:
        return 4
    elif num <= vsort[5]:
        return 5
    elif num <= vsort[6]:
        return 6
    elif num <= vsort[7]:
        return 7
    elif num <= vsort[8]:
        return 8
    else:
        return 9

In [78]:
def c_int(x):
    if x is None:
        return 0
    return int(x)

# data_df["sentiment"] = data_df["sentiment"].apply(c_int)
data_df["sentiment"] = data_df["sentiment"].apply(c_int).apply(change48VToClass4)

In [79]:
# 轉成 0 ~ 1
# def c_v_10(x):
#     return ((x-min_v) / (max_v-min_v))

# max_v = max(data_df["sentiment"])
# min_v = min(data_df["sentiment"])
# data_df["sentiment"] = data_df["sentiment"].apply(c_v_10)

In [80]:
import numpy as np
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_df["content"], data_df["sentiment"], test_size=0.2)

In [81]:
train_df = pd.DataFrame(columns = ["content", "views"])
train_df["content"] = x_train
train_df["views"] = y_train

In [82]:
test_df = pd.DataFrame(columns = ["content", "views"])
test_df["content"] = x_test
test_df["views"] = y_test
# test_df

In [83]:
# 讀取自己準備的字頻
with open("data/study/feq","r",encoding="utf-8") as fqv:
    feq = fqv.read()
feqList = feq.split("\n")

In [84]:
# 這是直接抓文章裡的字頻
# from keras.preprocessing.text import Tokenizer
# token = Tokenizer(num_words=2000)
# token.fit_on_texts(train_df["content"])
# # 我省略了這裡的印出，讀者可以把註解秀出字典的樣子
# token.word_index

In [85]:
from keras.preprocessing.text import Tokenizer
token = Tokenizer(num_words=2000)
token.fit_on_texts(feqList)
# 我省略了這裡的印出，讀者可以把註解秀出字典的樣子
# token.word_index

In [86]:
x_train_seq = token.texts_to_sequences(train_df["content"])
x_test_seq = token.texts_to_sequences(test_df["content"])
pd.DataFrame(x_train_seq)

       0       1       2       3       4   ...   175  176  177  178  179
0       56   734.0  1339.0  1058.0   333.0 ...   NaN  NaN  NaN  NaN  NaN
1     1090    61.0   875.0    90.0   154.0 ...   NaN  NaN  NaN  NaN  NaN
2       41  1269.0  1735.0   699.0   405.0 ...   NaN  NaN  NaN  NaN  NaN
3      517   995.0    33.0   431.0   297.0 ...   NaN  NaN  NaN  NaN  NaN
4      686  1819.0   645.0   290.0   758.0 ...   NaN  NaN  NaN  NaN  NaN
5      170    87.0  1354.0   684.0   602.0 ...   NaN  NaN  NaN  NaN  NaN
6      939   875.0   789.0   875.0   875.0 ...   NaN  NaN  NaN  NaN  NaN
...    ...     ...     ...     ...     ... ...   ...  ...  ...  ...  ...
2198   530  1975.0   741.0  1198.0  1833.0 ...   NaN  NaN  NaN  NaN  NaN
2199    39   418.0   184.0    39.0    78.0 ...   NaN  NaN  NaN  NaN  NaN
2200   961  1425.0  1351.0  1218.0   580.0 ...   NaN  NaN  NaN  NaN  NaN
2201   143  1995.0   594.0   229.0   143.0 ...   NaN  NaN  NaN  NaN  NaN
2202    41   796.0  1427.0   317.0   684.0 ...   NaN  NaN  NaN  NaN  NaN
2203  1408   586.0    39.0  1630.0   586.0 ...   NaN  NaN  NaN  NaN  NaN
2204   125  1578.0    42.0  1271.0   428.0 ...   NaN  NaN  NaN  NaN  NaN

[2205 rows x 180 columns]

In [87]:
from keras.preprocessing import sequence
x_train_pad = sequence.pad_sequences(x_train_seq, maxlen = 50)
x_test_pad = sequence.pad_sequences(x_test_seq, maxlen = 50)
pd.DataFrame(x_train_pad)

        0     1    2    3     4   ...     45    46    47    48    49
0     1093  1058   14  684   454  ...    438  1058  1093  1272   131
1        0     0    0    0     0  ...    154    64   427   184   184
2     1269  1735  699  405  1379  ...    969   836   878  1425   836
3      721    33  431  513   731  ...    431   721  1670  1839   721
4        0     0    0    0     0  ...    168  1072   686   168  1754
5        0     0    0    0     0  ...   1546  1546   290   290   290
6        0     0    0    0     0  ...   1237   131   131   740  1093
...    ...   ...  ...  ...   ...  ...    ...   ...   ...   ...   ...
2198   418  1598  890  374   131  ...    561   535   278   486   256
2199   961   789  184  184   768  ...    184   909   642   903   810
2200  1218   580  404  418  1218  ...     90   418   740   418   463
2201     0     0    0    0     0  ...    143   143  1403   736  1722
2202     0     0    0    0     0  ...    635  1478   170  1478   535
2203     0     0    0    0     0  ...   1565  1565   586   175   535
2204     0     0    0    0     0  ...    185   184   154   428  1887

[2205 rows x 50 columns]

In [88]:
x_train_pad[1]

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
       1090,   61,  875,   90,  154,   70,  814,  275,  890,  184,  875,
         90,  154,   64,  427,  184,  184])

In [89]:
from keras.utils import np_utils 
y_train = train_df['views']
y_test = test_df['views']
y_train_cat = np_utils.to_categorical(y_train)
y_test_cat = np_utils.to_categorical(y_test)

In [90]:
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Flatten
from keras.layers.embeddings import Embedding
model = Sequential()
model.add(Embedding(output_dim=32, input_dim=2000, input_length=50))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(units=256, activation='relu'))
model.add(Dropout(0.35))
# 注意一下, 因為我們是二元分類, 最後的激勵函數選擇 sigmoid
# sigmoid(正 + 負 =100%) softmax(類別全部 =100%)
model.add(Dense(units=10, activation='softmax'))

In [91]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_3 (Embedding)      (None, 50, 32)            64000
_________________________________________________________________
dropout_5 (Dropout)          (None, 50, 32)            0
_________________________________________________________________
flatten_3 (Flatten)          (None, 1600)              0
_________________________________________________________________
dense_5 (Dense)              (None, 256)               409856
_________________________________________________________________
dropout_6 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_6 (Dense)              (None, 10)                2570
=================================================================
Total params: 476,426
Trainable params: 476,426
Non-trainable params: 0
_________________________________________________________________

In [92]:
import numpy as np
# 特別注意一下, 因為我們只是二元分類, 所以這裡的 loss 選擇 binary_crossentropy # mean_absolute_error mean_squared_error
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['acc'])

from keras.datasets import imdb
# y_train = train_df['views']
train_history = model.fit(x_train_pad, y_train_cat,batch_size = 100, epochs = 3, verbose = 2, validation_split = 0.2)

Train on 1764 samples, validate on 441 samples
Epoch 1/3
 - 0s - loss: 2.3079 - acc: 0.0992 - val_loss: 2.3071 - val_acc: 0.0794
Epoch 2/3
 - 0s - loss: 2.2685 - acc: 0.2319 - val_loss: 2.3058 - val_acc: 0.0975
Epoch 3/3
 - 0s - loss: 2.2257 - acc: 0.3753 - val_loss: 2.3041 - val_acc: 0.1088

In [93]:
# 正確率是 list 第二個元素
model.evaluate(x_test_pad, y_test_cat)

552/552 [==============================] - 0s 31us/step

[2.303689956665039, 0.10144927536231885]

In [94]:
x_train_pad

array([[1093, 1058,   14, ..., 1093, 1272,  131],
       [   0,    0,    0, ...,  427,  184,  184],
       [1269, 1735,  699, ...,  878, 1425,  836],
       ...,
       [   0,    0,    0, ...,  170, 1478,  535],
       [   0,    0,    0, ...,  586,  175,  535],
       [   0,    0,    0, ...,  154,  428, 1887]])

In [95]:
y_test

1776    3
1135    8
1072    2
1370    4
945     8
943     1
1242    3
       ..
1266    5
1403    1
1128    9
243     4
1426    4
2632    1
2411    4
Name: views, Length: 552, dtype: int64

In [96]:
ans = pd.DataFrame(model.predict(x_test_pad))
ans

,0,1,2,3,4,5,6,7,8,9
0,0.108046,0.097042,0.090710,0.109004,0.096943,0.101221,0.105741,0.103215,0.101329,0.086747
1,0.101813,0.084332,0.096606,0.102144,0.103392,0.102647,0.104757,0.106017,0.101803,0.096490
2,0.106411,0.097321,0.095581,0.105410,0.104865,0.094445,0.101951,0.098580,0.100173,0.095264
3,0.104138,0.094157,0.090996,0.098140,0.095157,0.123026,0.093413,0.114421,0.094715,0.091837
4,0.101612,0.086219,0.108494,0.095630,0.102358,0.107779,0.096929,0.098328,0.102347,0.100304
5,0.103536,0.098568,0.098040,0.092157,0.107716,0.098782,0.103353,0.096639,0.100044,0.101164
6,0.095675,0.094998,0.089221,0.104262,0.105845,0.107899,0.088424,0.096882,0.113393,0.103402
...,...,...,...,...,...,...,...,...,...,...
545,0.102338,0.092416,0.095913,0.114056,0.101628,0.091650,0.099877,0.108500,0.103212,0.090411
546,0.102721,0.096347,0.102409,0.104439,0.096860,0.100787,0.105644,0.097878,0.102598,0.090318
547,0.098260,0.091555,0.074555,0.097907,0.103025,0.102832,0.103581,0.096915,0.123430,0.107940
548,0.096515,0.095095,0.087668,0.095351,0.106899,0.112711,0.089926,0.107419,0.117021,0.091396
549,0.094122,0.097292,0.103387,0.095276,0.103605,0.116061,0.098244,0.093917,0.097402,0.100693
550,0.095652,0.105354,0.098897,0.097295,0.098313,0.110406,0.101195,0.106075,0.092570,0.094244
551,0.102833,0.092668,0.098588,0.096111,0.097602,0.107374,0.089437,0.097032,0.104320,0.114034

In [97]:
# from sklearn.metrics import r2_score
# r2_score(ans,y_test)

In [98]:
from sklearn.metrics import confusion_matrix
pd.DataFrame(confusion_matrix(y_test,model.predict_classes(x_test_pad)))

   0  1  2   3  4   5   6  7   8  9
0  2  2  4  15  4   8  11  4   6  1
1  7  0  2  11  2   8  11  5   7  3
2  5  1  0  16  2   7  17  5   5  1
3  4  1  6  17  2   7  13  4   6  1
4  3  1  3   9  5  12   6  0  14  2
5  5  0  0   8  3  10  10  6   3  0
6  7  0  2  14  3  13  10  2   5  3
7  4  1  6  15  0   8  12  7   4  3
8  3  0  3  14  1   5  13  8   2  1
9  4  0  2  10  3   8  12  3   5  3