In [71]:
from urllib.request import urlretrieve
import os
import pandas as pd

paperName = "CT"

# 為了顯示的漂亮, 我刻意的把印出來的 row 只顯示 15 個和 column 只顯示十個
# 大家練習的時候可以去掉下面兩行
pd.set_option('display.max_rows', 15)
pd.set_option('display.max_columns', 10)

data_df = pd.DataFrame(columns = ["content", "sentiment"])

with open("data/study/eb_" + paperName + "_title.txt","r",encoding="utf-8") as fc:
    content = fc.read()
contentList = content.split("\n")


with open("data/study/content_views.txt","r",encoding="utf-8") as fv:
    views = fv.read()
viewsList = views.split("\n")

for line in range(len(viewsList)-1):
    s = pd.Series([contentList[line], viewsList[line]], index = ["content", "sentiment"])
# s = pd.Series([contentList[:len(contentList)-1], viewsList[:len(viewsList)-1]], index = ["content", "sentiment"])
    data_df = data_df.append(s, ignore_index = True)
    
# # 走過 pos 的資料夾，把資料夾整理好
# pos_path = "data/aclImdb/train/pos"
# for fpath in os.listdir(pos_path):
#     if not fpath.startswith("."):
#         fpath = os.path.join(pos_path, fpath)
#         f = open(fpath, "r", encoding = "utf-8")
#         content = f.read()
#         s = pd.Series([content, 1], index = ["content", "sentiment"])
#         train_df = train_df.append(s, ignore_index = True)

# # 走過 neg 的資料夾，把資料夾整理好
# neg_path = "data/aclImdb/train/neg"
# for fpath in os.listdir(neg_path):
#     if not fpath.startswith("."):
#         fpath = os.path.join(neg_path, fpath)
#         f = open(fpath, "r", encoding = "utf-8")
#         content = f.read()
#         s = pd.Series([content, 0], index = ["content", "sentiment"])
#         train_df = train_df.append(s, ignore_index = True)
data_df

IndexError: list index out of range

In [ ]:
# a = list(data_df["sentiment"]).apply(int)
a = list(map(int, list(data_df["sentiment"])))
a.sort()
# print(a)
vsort = []
vsort.append(a[int(len(a)*0.1)]) 
vsort.append(a[int(len(a)*0.2)]) 
vsort.append(a[int(len(a)*0.3)]) 
vsort.append(a[int(len(a)*0.4)]) 
vsort.append(a[int(len(a)*0.5)]) 
vsort.append(a[int(len(a)*0.6)]) 
vsort.append(a[int(len(a)*0.7)]) 
vsort.append(a[int(len(a)*0.8)]) 
vsort.append(a[int(len(a)*0.9)])  
vsort

In [ ]:
# 這邊測試不同的y
import math
def trend_log(x):
    x = int(x)
    if x <= 1:
        return 0
#     elif x < 1:
#         return math.log10(-1*x) * -1
    else:
        return math.log10(x)

def change48VToClass2(num):
    if num <= 1000:
        return "1000"
    elif num <= 5000:
        return "5000"
    elif num <= 10000:
        return "10000"
    elif num <= 50000:
        return "50000"
    elif num <= 100000:
        return "100k"
    elif num <= 500000:
        return "500k"
    elif num <= 1000000:
        return "1m"
    else:
        return ">1m"
    
# y_train.apply(trend_log)
def change48VToClass3(num):
    if num <= vsort[0]:
        return "10%"
    elif num <= vsort[1]:
        return "20%"
    elif num <= vsort[2]:
        return "30%"
    elif num <= vsort[3]:
        return "40%"
    elif num <= vsort[4]:
        return "50%"
    elif num <= vsort[5]:
        return "60%"
    elif num <= vsort[6]:
        return "70%"
    elif num <= vsort[7]:
        return "80%"
    elif num <= vsort[8]:
        return "90%"
    else:
        return "100%"

    # y_train.apply(trend_log)
def change48VToClass4(num):
    if num <= vsort[0]:
        return 0
    elif num <= vsort[1]:
        return 1
    elif num <= vsort[2]:
        return 2
    elif num <= vsort[3]:
        return 3
    elif num <= vsort[4]:
        return 4
    elif num <= vsort[5]:
        return 5
    elif num <= vsort[6]:
        return 6
    elif num <= vsort[7]:
        return 7
    elif num <= vsort[8]:
        return 8
    else:
        return 9

In [ ]:
def c_int(x):
    if x is None:
        return 0
    return int(x)

# data_df["sentiment"] = data_df["sentiment"].apply(c_int)
data_df["sentiment"] = data_df["sentiment"].apply(c_int).apply(change48VToClass4)

In [ ]:
# 轉成 0 ~ 1
# def c_v_10(x):
#     return ((x-min_v) / (max_v-min_v))

# max_v = max(data_df["sentiment"])
# min_v = min(data_df["sentiment"])
# data_df["sentiment"] = data_df["sentiment"].apply(c_v_10)

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_df["content"], data_df["sentiment"], test_size=0.2)

In [ ]:
train_df = pd.DataFrame(columns = ["content", "views"])
train_df["content"] = x_train
train_df["views"] = y_train

In [ ]:
test_df = pd.DataFrame(columns = ["content", "views"])
test_df["content"] = x_test
test_df["views"] = y_test
# test_df

In [ ]:
# 讀取自己準備的字頻
with open("data/study/feq","r",encoding="utf-8") as fqv:
    feq = fqv.read()
feqList = feq.split("\n")

In [ ]:
# 這是直接抓文章裡的字頻
from keras.preprocessing.text import Tokenizer
token = Tokenizer(num_words=2000)
token.fit_on_texts(train_df["content"])
# 我省略了這裡的印出，讀者可以把註解秀出字典的樣子
# token.word_index

In [ ]:
# from keras.preprocessing.text import Tokenizer
# token = Tokenizer(num_words=2000)
# token.fit_on_texts(feqList)
# # 我省略了這裡的印出，讀者可以把註解秀出字典的樣子
# # token.word_index

In [72]:
x_train_seq = token.texts_to_sequences(train_df["content"])
x_test_seq = token.texts_to_sequences(test_df["content"])
pd.DataFrame(x_train_seq)

          0       1       2       3       4  ...  14  15  16  17  18
0        4.0   764.0     NaN     NaN     NaN ... NaN NaN NaN NaN NaN
1     1584.0   218.0  1142.0  1338.0     NaN ... NaN NaN NaN NaN NaN
2      506.0   155.0  1339.0   194.0   466.0 ... NaN NaN NaN NaN NaN
3      187.0   132.0   236.0   467.0   429.0 ... NaN NaN NaN NaN NaN
4     1585.0    89.0   368.0     2.0   638.0 ... NaN NaN NaN NaN NaN
5      507.0   765.0    91.0  1586.0  1587.0 ... NaN NaN NaN NaN NaN
6      369.0   188.0   976.0     NaN     NaN ... NaN NaN NaN NaN NaN
...      ...     ...     ...     ...     ... ...  ..  ..  ..  ..  ..
6997   809.0    55.0   412.0  1306.0     1.0 ... NaN NaN NaN NaN NaN
6998    32.0     4.0  1371.0     8.0    13.0 ... NaN NaN NaN NaN NaN
6999     5.0    98.0   974.0    89.0   117.0 ... NaN NaN NaN NaN NaN
7000  1845.0     1.0    80.0     NaN     NaN ... NaN NaN NaN NaN NaN
7001   699.0   136.0    83.0     9.0  1346.0 ... NaN NaN NaN NaN NaN
7002    75.0   489.0    76.0   821.0  1991.0 ... NaN NaN NaN NaN NaN
7003  1017.0  1527.0   255.0   276.0     NaN ... NaN NaN NaN NaN NaN

[7004 rows x 19 columns]

In [73]:
train_df["content"]

506                        英超 ／ 飛機 墜毀 驟逝  球星 沙拉 遺體 尋獲
8049                       考上 台大 牙醫  想當 消除 病患 恐懼感 牙醫師
6058         花 40 00 億向 美買 F - 16V  王鴻薇 ： 台灣 又在 當 冤大頭
3265        性侵 11 名 參加 活動 學員  他 辯 ： 曾 遭 性侵 ， 老師 是 加害者
8668             黃金 神童 到 組 「 三 劍俠 」 搞 地產  李兆基 物業 遍 全港
6901               推動 零售 創新 服務  屈臣氏 與萊雅 合作開發 虛擬 美妝 相機
3043                        大灣區 發展 綱要 未能 提振 港股  恆指 收跌
                            ...
1042                  王弟 反 她 選 總理  烏汶叻公主 ： 盼 泰國 向前 邁進
1076            NBA ／ 76人 致敬 馬龍  歐文 、 艾佛森 與 巴克利 現身 相挺
6465    神仙姐姐 劉亦菲 居然 換髮 型 ！ 從 古典 美女 花木蘭 穿越 到 現代 變 韓妞 啦
4352                     陸刪 陳勝吳廣 文章  教材 總編 ： 沒什麼 好 解釋
6764                   高通 要求 蘋果 支付 3 100萬 美元 侵權 賠償金 額
5439                 《 還願 》 慈姑 觀音  反映 70 年代 什麼 民間信仰 ？
7012                      中國兩會 部長 通道  周強 未 現身 由 副手 代打
Name: content, Length: 7004, dtype: object

In [74]:
from keras.preprocessing import sequence
x_train_pad = sequence.pad_sequences(x_train_seq, maxlen = 5)
x_test_pad = sequence.pad_sequences(x_test_seq, maxlen = 5)
pd.DataFrame(x_train_pad)

        0     1     2     3     4
0       0     0     0     4   764
1       0  1584   218  1142  1338
2     194   466     1    15   199
3      38   187    52   326    27
4      89   368     2   638     3
5     765    91  1586  1587   975
6       0     0   369   188   976
...   ...   ...   ...   ...   ...
6997  412  1306     1   135   850
6998    4  1371     8    13   276
6999   98   974    89   117  1024
7000    0     0  1845     1    80
7001  136    83     9  1346  1556
7002   76   821  1991   387     6
7003    0  1017  1527   255   276

[7004 rows x 5 columns]

In [75]:
x_train_pad[1]

array([   0, 1584,  218, 1142, 1338])

In [76]:
from keras.utils import np_utils 
y_train = train_df['views']
y_test = test_df['views']
y_train_cat = np_utils.to_categorical(y_train)
y_test_cat = np_utils.to_categorical(y_test)

In [77]:
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Flatten
from keras.layers.embeddings import Embedding
model = Sequential()
model.add(Embedding(output_dim=32, input_dim=2000, input_length=5))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(units=256, activation='relu'))
model.add(Dropout(0.35))
# 注意一下, 因為我們是二元分類, 最後的激勵函數選擇 sigmoid
# sigmoid(正 + 負 =100%) softmax(類別全部 =100%)
model.add(Dense(units=10, activation='softmax'))

In [78]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_3 (Embedding)      (None, 5, 32)             64000
_________________________________________________________________
dropout_5 (Dropout)          (None, 5, 32)             0
_________________________________________________________________
flatten_3 (Flatten)          (None, 160)               0
_________________________________________________________________
dense_5 (Dense)              (None, 256)               41216
_________________________________________________________________
dropout_6 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_6 (Dense)              (None, 10)                2570
=================================================================
Total params: 107,786
Trainable params: 107,786
Non-trainable params: 0
_________________________________________________________________

In [79]:
import numpy as np
# 特別注意一下, 因為我們只是二元分類, 所以這裡的 loss 選擇 binary_crossentropy # mean_absolute_error mean_squared_error
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['acc'])

from keras.datasets import imdb
# y_train = train_df['views']
train_history = model.fit(x_train_pad, y_train_cat,batch_size = 100, epochs = 3, verbose = 2, validation_split = 0.2)

Train on 5603 samples, validate on 1401 samples
Epoch 1/3
 - 1s - loss: 2.3034 - acc: 0.0982 - val_loss: 2.3040 - val_acc: 0.0814
Epoch 2/3
 - 0s - loss: 2.2879 - acc: 0.1815 - val_loss: 2.3042 - val_acc: 0.0906
Epoch 3/3
 - 0s - loss: 2.2593 - acc: 0.2434 - val_loss: 2.3065 - val_acc: 0.0985

In [80]:
# 正確率是 list 第二個元素
model.evaluate(x_test_pad, y_test_cat)

1752/1752 [==============================] - 0s 15us/step

[2.306514721482856, 0.10331050231712594]

In [81]:
x_train_pad

array([[   0,    0,    0,    4,  764],
       [   0, 1584,  218, 1142, 1338],
       [ 194,  466,    1,   15,  199],
       ...,
       [ 136,   83,    9, 1346, 1556],
       [  76,  821, 1991,  387,    6],
       [   0, 1017, 1527,  255,  276]])

In [82]:
y_test

3695    7
2698    0
514     7
3476    4
2913    6
7019    3
2052    8
       ..
3840    8
2968    1
7224    1
1752    5
6550    4
8105    3
485     7
Name: views, Length: 1752, dtype: int64

In [83]:
ans = pd.DataFrame(model.predict(x_test_pad))
ans

,0,1,2,3,4,5,6,7,8,9
0,0.100087,0.109211,0.091332,0.091155,0.106801,0.092565,0.100819,0.102548,0.109683,0.095799
1,0.092064,0.098513,0.100954,0.118048,0.088525,0.101075,0.109762,0.097436,0.106119,0.087504
2,0.100098,0.096565,0.099202,0.120707,0.096808,0.091836,0.107359,0.103188,0.090481,0.093757
3,0.102144,0.097125,0.105979,0.103534,0.093995,0.096370,0.108504,0.104526,0.094474,0.093348
4,0.097943,0.093654,0.100611,0.115335,0.085341,0.102227,0.113674,0.095052,0.085378,0.110784
5,0.093281,0.092834,0.096892,0.108999,0.103368,0.090284,0.104556,0.109965,0.106733,0.093089
6,0.100721,0.102952,0.096064,0.094816,0.095763,0.102758,0.112459,0.105065,0.092048,0.097355
...,...,...,...,...,...,...,...,...,...,...
1745,0.106843,0.093348,0.092645,0.089861,0.105631,0.101132,0.103826,0.112301,0.097473,0.096940
1746,0.097936,0.089756,0.097815,0.101626,0.108422,0.109186,0.088078,0.108212,0.098896,0.100073
1747,0.098295,0.102102,0.101831,0.105605,0.086707,0.097580,0.101647,0.102523,0.096611,0.107098
1748,0.096337,0.101433,0.102229,0.094036,0.101899,0.102898,0.119485,0.091262,0.091371,0.099049
1749,0.094528,0.117391,0.107346,0.101108,0.102772,0.093897,0.107025,0.083899,0.091674,0.100361
1750,0.100332,0.111392,0.104262,0.098188,0.106266,0.097281,0.088312,0.089670,0.097637,0.106660
1751,0.110625,0.083565,0.107477,0.100223,0.107495,0.097778,0.100576,0.092760,0.099388,0.100114

In [84]:
# from sklearn.metrics import r2_score
# r2_score(ans,y_test)

In [85]:
from sklearn.metrics import confusion_matrix
pd.DataFrame(confusion_matrix(y_test,model.predict_classes(x_test_pad)))

    0   1   2   3   4  5   6   7   8   9
0   9  27   6  50  14  5  28  28  12   8
1   7  18  14  43  14  6  21  35   6  11
2  12  20  12  34  17  4  23  25   5   7
3  14  15   9  40  16  7  22  31   5   7
4  12  21   7  38  16  7  26  27  11  11
5   8  19  12  50  15  3  22  29   8  11
6  12  23  13  38  14  6  31  25   7   6
7   8  21   8  42  22  4  21  35  10   6
8  18  23  11  36  24  4  27  31   5   9
9  10  20  15  38   9  2  28  31   7  12